<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%AZURE_FUNCTIONS_PYTHON_PATH%"
                  arguments="-m gunicorn -w 4 -k uvicorn.workers.UvicornWorker app:app --bind=0.0.0.0:%HTTP_PLATFORM_PORT% --timeout 600"
                  stdoutLogEnabled="true"
                  stdoutLogFile="d:\home\LogFiles\python.log"
                  startupTimeLimit="600"
                  startupRetryCount="3">
    </httpPlatform>
  </system.webServer>
</configuration>
