<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%AZURE_FUNCTIONS_PYTHON_PATH%"
                  arguments="-m uvicorn app:app --host 0.0.0.0 --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="d:\home\LogFiles\python.log"
                  startupTimeLimit="600"
                  startupRetryCount="3">
    </httpPlatform>
  </system.webServer>
</configuration>
